<p>login works!</p>
<!-- 
<div fxLayout='column' class="zero">

    <div fxFlex="33" class="one" ></div>
    <div fxFlex="33%" [fxLayout]="direction" class="two">
  
      <div fxFlex="22%"    class="two_one"></div>
      <div fxFlex="205px"  class="two_two"></div>
      <div fxFlex="30"     class="two_three"></div>
  
    </div>
    <div fxFlex class="three"></div>
  
  </div> -->

  <div fxLayout="row" fxLayoutAlign="space-around">
      <div fxflex=20>
          one
      </div>
      <div fxflex=20>
        two
      </div>
      <div fxflex=20>
        three
      </div>
      <div fxflex=20>
        four
      </div>
      <div fxflex=20>
        five
      </div>
</div>